.lib p {
text-align:center;
color:white;
font-size:1.7em;
margin:0px;
}

.folders {
display: flex;
flex-direction:row;
flex-wrap:wrap;
justify-content:center;
}
.folder {
width:100px;
height:100px;
position:relative;
  box-shadow: 0px 3px 30px 0px rgba(0,0,0,0.1);
border-radius:10px;
background-color:white;
margin:20px;
display: flex;
flex-wrap:wrap;
justify-content: center; /* align horizontal */
align-items: center;
  cursor:pointer;
}

.folder span {
color:#FF8008;
font-size:1.3em;
}
